body {
    margin: 30px;
    background-color: gainsboro;
}

@media only screen and (max-width: 776px) {
    /* Responsive: */
    .title-name {
        width: 8,33%;
        margin-top: 40px;
    }
  }

